{% extends "base.html"%}
{% block title %} HHHHHHHHHHHHHH {% endblock %}
{% block content %}
<p> Версия 1.0 </p>
<p> Создатель : {{name}}
    <style>@import url("//portal.fondy.eu/mportal/static/css/button.css");</style>
<a href="https://api.fondy.eu/s/wsRMM9Gii" data-button="" class="f-p-b" style="--fpb-background:#dfdfdf; --fpb-color:#000000; --fpb-border-color:#000000; --fpb-border-width:1px; --fpb-font-weight:400; --fpb-font-size:16px; --fpb-border-radius:5px;">
<i data-text="name">Оплатить</i>
<i data-text="amount">1 RUB</i>
<i data-brand="visa"></i><i data-brand="mastercard"></i></a>
    {%block iii%} <p>HELLO</p> {%endblock%}

{% endblock %}